.p-login-page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('../../images/home-background.jpg') no-repeat;
}

.login-container {
  position: relative;
  margin: 100px auto 0;
  width: 40%;
  max-width: 500px;
  height: 600px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(43px);
  backdrop-filter: blur(43px);
  box-shadow: 0 3px 99px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.5);

  .gzhu-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    img {
      width: 270px;
      height: 224px;
    }
  }
}