.land-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .ant-form-item {
    width: 70%;

    input {
      box-sizing: border-box;
      padding-left: 40px !important;
      height: 50px;
      border-radius: 40px;
      font-size: 16px;
    }
    .ant-form-explain {
      font-size: 14px;
      margin-left: 20px;
      position: relative;
      top: 4px;
    }
    svg {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }
  }
  .land-login-btn {
    width: 70%;
    height: 50px;
    border-radius: 40px;
  }
  .land-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .land-footer-item {
      margin: 70px 10px 0;

      &:hover {
        border-bottom: 1px solid #000;
        transition: border .5s;
      }
    }
  }
}