.p-home {
  height: 100vh;
}

.collapsed-btn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 11px;
  height: 40px;
  line-height: 40px;
}

.ant-menu-root > .ant-menu-item:last-child {
  position: absolute !important;
  bottom: 10px;
}